In [52]:
import pandas as pd
import numpy as np
from pandas_datareader import DataReader
from datetime import datetime

In [54]:
#Import data
VIX = DataReader("^VIX",  "yahoo", datetime(2016,1,1), datetime(2016,4,1))
VIX

                 High        Low       Open      Close  Volume  Adj Close
Date
2016-01-04  23.360001  20.670000  22.480000  20.700001       0  20.700001
2016-01-05  21.059999  19.250000  20.750000  19.340000       0  19.340000
2016-01-06  21.860001  19.799999  21.670000  20.590000       0  20.590000
2016-01-07  25.860001  22.400000  23.219999  24.990000       0  24.990000
2016-01-08  27.080000  22.480000  22.959999  27.010000       0  27.010000
2016-01-11  27.389999  23.830000  25.580000  24.299999       0  24.299999
2016-01-12  23.930000  21.910000  22.969999  22.469999       0  22.469999
2016-01-13  26.110001  21.440001  21.719999  25.219999       0  25.219999
2016-01-14  26.280001  23.070000  24.750000  23.950001       0  23.950001
2016-01-15  30.950001  26.670000  28.959999  27.020000       0  27.020000
2016-01-19  27.590000  25.209999  25.400000  26.049999       0  26.049999
2016-01-20  32.090000  26.590000  27.780001  27.590000       0  27.590000
2016-01-21  28.430000  25.010000  27.790001  26.690001       0  26.690001
2016-01-22  24.549999  22.219999  24.209999  22.340000       0  22.340000
2016-01-25  24.309999  22.379999  23.299999  24.150000       0  24.150000
2016-01-26  24.020000  22.330000  23.750000  22.500000       0  22.500000
2016-01-27  27.219999  20.420000  22.879999  23.110001       0  23.110001
2016-01-28  23.809999  21.900000  22.150000  22.420000       0  22.420000
2016-01-29  21.740000  19.500000  21.590000  20.200001       0  20.200001
2016-02-01  23.660000  19.610001  21.320000  19.980000       0  19.980000
2016-02-02  22.420000  21.059999  21.340000  21.980000       0  21.980000
2016-02-03  27.700001  21.420000  21.490000  21.650000       0  21.650000
2016-02-04  23.139999  21.240000  22.290001  21.840000       0  21.840000
2016-02-05  24.110001  21.910000  22.090000  23.379999       0  23.379999
2016-02-08  27.719999  25.559999  25.889999  26.000000       0  26.000000
2016-02-09  28.309999  25.990000  28.299999  26.540001       0  26.540001
2016-02-10  26.600000  24.469999  25.750000  26.290001       0  26.290001
2016-02-11  30.900000  26.670000  29.010000  28.139999       0  28.139999
2016-02-12  27.570000  24.920000  27.160000  25.400000       0  25.400000
2016-02-16  25.520000  23.320000  24.959999  24.110001       0  24.110001
...               ...        ...        ...        ...     ...        ...
2016-02-19  23.440001  20.520000  22.389999  20.530001       0  20.530001
2016-02-22  20.350000  19.020000  20.139999  19.379999       0  19.379999
2016-02-23  21.160000  19.540001  19.750000  20.980000       0  20.980000
2016-02-24  22.870001  20.260000  22.280001  20.719999       0  20.719999
2016-02-25  21.260000  19.100000  20.540001  19.110001       0  19.110001
2016-02-26  20.129999  18.459999  18.889999  19.809999       0  19.809999
2016-02-29  20.809999  18.379999  20.490000  20.549999       0  20.549999
2016-03-01  20.170000  17.660000  19.840000  17.700001       0  17.700001
2016-03-02  18.410000  16.780001  17.980000  17.090000       0  17.090000
2016-03-03  17.559999  16.320000  17.250000  16.700001       0  16.700001
2016-03-04  17.350000  16.049999  16.480000  16.860001       0  16.860001
2016-03-07  18.040001  16.870001  17.980000  17.350000       0  17.350000
2016-03-08  18.889999  17.820000  18.379999  18.670000       0  18.670000
2016-03-09  19.110001  18.309999  18.559999  18.340000       0  18.340000
2016-03-10  19.590000  17.059999  18.170000  18.049999       0  18.049999
2016-03-11  17.270000  16.280001  17.090000  16.500000       0  16.500000
2016-03-14  17.670000  16.690001  17.010000  16.920000       0  16.920000
2016-03-15  17.850000  16.840000  17.600000  16.840000       0  16.840000
2016-03-16  16.330000  14.890000  15.960000  14.990000       0  14.990000
2016-03-17  15.380000  13.820000  15.340000  14.440000       0  14.440000
2016-03-18  14.360000  13.750000  14.050000  14.020000       0  14.020000
2016-03-21  14.730000  13.790000  14.570000  13.790000       0  13.790000
2016-03-22  14.760000  13.750000  14.570000  14.170000       0  14.170000
2016-03-23  15.030000  14.330000  14.570000  14.940000       0  14.940000
2016-03-24  16.440001  14.710000  16.299999  14.740000       0  14.740000
2016-03-28  16.040001  14.890000  15.650000  15.240000       0  15.240000
2016-03-29  15.890000  13.790000  15.740000  13.820000       0  13.820000
2016-03-30  13.890000  13.060000  13.690000  13.560000       0  13.560000
2016-03-31  14.280000  13.490000  13.730000  13.950000       0  13.950000
2016-04-01  15.280000  13.000000  15.230000  13.100000       0  13.100000

[62 rows x 6 columns]

In [55]:
VIX['Adj Close']

Date
2016-01-04    20.700001
2016-01-05    19.340000
2016-01-06    20.590000
2016-01-07    24.990000
2016-01-08    27.010000
2016-01-11    24.299999
2016-01-12    22.469999
2016-01-13    25.219999
2016-01-14    23.950001
2016-01-15    27.020000
2016-01-19    26.049999
2016-01-20    27.590000
2016-01-21    26.690001
2016-01-22    22.340000
2016-01-25    24.150000
2016-01-26    22.500000
2016-01-27    23.110001
2016-01-28    22.420000
2016-01-29    20.200001
2016-02-01    19.980000
2016-02-02    21.980000
2016-02-03    21.650000
2016-02-04    21.840000
2016-02-05    23.379999
2016-02-08    26.000000
2016-02-09    26.540001
2016-02-10    26.290001
2016-02-11    28.139999
2016-02-12    25.400000
2016-02-16    24.110001
                ...
2016-02-19    20.530001
2016-02-22    19.379999
2016-02-23    20.980000
2016-02-24    20.719999
2016-02-25    19.110001
2016-02-26    19.809999
2016-02-29    20.549999
2016-03-01    17.700001
2016-03-02    17.090000
2016-03-03    16.700001
2016-03-04    16.860001
2016-03-07    17.350000
2016-03-08    18.670000
2016-03-09    18.340000
2016-03-10    18.049999
2016-03-11    16.500000
2016-03-14    16.920000
2016-03-15    16.840000
2016-03-16    14.990000
2016-03-17    14.440000
2016-03-18    14.020000
2016-03-21    13.790000
2016-03-22    14.170000
2016-03-23    14.940000
2016-03-24    14.740000
2016-03-28    15.240000
2016-03-29    13.820000
2016-03-30    13.560000
2016-03-31    13.950000
2016-04-01    13.100000
Name: Adj Close, Length: 62, dtype: float64

In [56]:
names = ['ticker','date','date of contract','end data of contract','maturity','call','strike','bid price','ask price','not important1','not important2','Black Scholes implied volatility','Current index level','not important3','not important4','not important5','interest rate']

In [57]:
df = pd.read_csv('SPX_2016_options.csv', header=None, names = names)
df

,ticker,date,date of contract,end data of contract,maturity,call,strike,bid price,ask price,not important1,not important2,Black Scholes implied volatility,Current index level,not important3,not important4,not important5,interest rate
0,108105,20160104,736333,736344,11,1,1000,1007.40,1010.80,2000,42291,NaN,2012.66,-0.015304,1,1,0.007121
1,108105,20160104,736333,736344,11,1,1025,982.30,985.80,0,0,NaN,2012.66,-0.015304,1,1,0.007121
2,108105,20160104,736333,736344,11,1,1050,957.30,960.90,0,0,NaN,2012.66,-0.015304,1,1,0.007121
3,108105,20160104,736333,736344,11,1,1075,932.30,935.90,0,0,NaN,2012.66,-0.015304,1,1,0.007121
4,108105,20160104,736333,736344,11,1,1100,907.40,911.10,0,20,NaN,2012.66,-0.015304,1,1,0.007121
5,108105,20160104,736333,736344,11,1,1125,882.30,886.10,0,4,NaN,2012.66,-0.015304,1,1,0.007121
6,108105,20160104,736333,736344,11,1,1150,857.40,861.10,0,2,NaN,2012.66,-0.015304,1,1,0.007121
7,108105,20160104,736333,736344,11,1,1175,832.40,836.10,0,27,NaN,2012.66,-0.015304,1,1,0.007121
8,108105,20160104,736333,736344,11,1,1200,807.40,811.10,0,32,NaN,2012.66,-0.015304,1,1,0.007121
9,108105,20160104,736333,736344,11,1,1220,787.30,790.90,0,0,NaN,2012.66,-0.015304,1,1,0.007121
10,108105,20160104,736333,736344,11,1,1225,782.30,785.90,0,24,NaN,2012.66,-0.015304,1,1,0.007121
11,108105,20160104,736333,736344,11,1,1240,767.40,770.90,0,0,NaN,2012.66,-0.015304,1,1,0.007121
12,108105,20160104,736333,736344,11,1,1250,757.50,760.90,0,11,NaN,2012.66,-0.015304,1,1,0.007121
13,108105,20160104,736333,736344,11,1,1260,747.40,750.90,0,0,NaN,2012.66,-0.015304,1,1,0.007121
14,108105,20160104,736333,736344,11,1,1270,737.50,740.90,0,0,NaN,2012.66,-0.015304,1,1,0.007121
15,108105,20160104,736333,736344,11,1,1275,732.50,735.90,0,16,NaN,2012.66,-0.015304,1,1,0.007121
16,108105,20160104,736333,736344,11,1,1280,727.50,730.90,0,0,NaN,2012.66,-0.015304,1,1,0.007121
17,108105,20160104,736333,736344,11,1,1290,717.40,720.90,0,0,NaN,2012.66,-0.015304,1,1,0.007121
18,108105,20160104,736333,736344,11,1,1300,707.40,710.90,0,3011,NaN,2012.66,-0.015304,1,1,0.007121
19,108105,20160104,736333,736344,11,1,1310,697.50,700.90,0,0,NaN,2012.66,-0.015304,1,1,0.007121
20,108105,20160104,736333,736344,11,1,1320,687.50,690.90,0,0,NaN,2012.66,-0.015304,1,1,0.007121
21,108105,20160104,736333,736344,11,1,1325,682.30,686.00,0,4,NaN,2012.66,-0.015304,1,1,0.007121
22,108105,20160104,736333,736344,11,1,1330,677.30,681.00,0,0,NaN,2012.66,-0.015304,1,1,0.007121
23,108105,20160104,736333,736344,11,1,1340,667.50,671.20,0,0,NaN,2012.66,-0.015304,1,1,0.007121
24,108105,20160104,736333,736344,11,1,1350,657.50,661.20,0,6,NaN,2012.66,-0.015304,1,1,0.007121
25,108105,20160104,736333,736344,11,1,1360,647.50,651.20,0,0,NaN,2012.66,-0.015304,1,1,0.007121
26,108105,20160104,736333,736344,11,1,1365,642.60,646.20,0,0,NaN,2012.66,-0.015304,1,1,0.007121
27,108105,20160104,736333,736344,11,1,1370,637.60,641.20,0,1,NaN,2012.66,-0.015304,1,1,0.007121
28,108105,20160104,736333,736344,11,1,1375,632.50,636.20,0,2,NaN,2012.66,-0.015304,1,1,0.007121
29,108105,20160104,736333,736344,11,1,1380,627.60,631.20,0,1,NaN,2012.66,-0.015304,1,1,0.007121
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
619782,108105,20160429,736449,736785,336,-1,2000,121.40,122.90,0,1,0.183780,2065.30,-0.005063,1,1,0.007088
619783,108105,20160429,736449,736785,336,-1,2025,130.40,131.90,0,5,0.179158,2065.30,-0.005063,1,1,0.007088
619784,108105,20160429,736449,736785,336,-1,2050,140.00,141.60,0,498,0.174541,2065.30,-0.005063,1,1,0.007088
619785,108105,20160429,736449,736785,336,-1,2075,150.30,151.90,0,1000,0.169871,2065.30,-0.005063,1,1,0.007088
619786,108105,20160429,736449,736785,336,-1,2100,161.40,163.00,0,1,0.165287,2065.30,-0.005063,1,1,0.007088
619787,108105,20160429,736449,736785,336,-1,2125,173.20,174.90,0,0,0.160665,2065.30,-0.005063,1,1,0.007088
619788,108105,20160429,736449,736785,336,-1,2150,185.90,187.70,0,15,0.156147,2065.30,-0.005063,1,1,0.007088
619789,108105,20160429,736449,736785,336,-1,2175,199.60,201.40,0,0,0.151755,2065.30,-0.005063,1,1,0.007088
619790,108105,20160429,736449,736785,336,-1,2200,214.20,216.10,0,1,0.147451,2065.30,-0.005063,1,1,0.007088
619791,108105,20160429,736449,736785,336,-1,2225,229.80,231.80,0,0,0.143283,2065.30,-0.005063,1,1,0.007088
619792,108105,20160429,736449,736785,336,-1,2250,246.40,248.50,0,0,0.139247,2065.30,-0.005063,1,1,0.007088
619793,108105,20160429,736449,736785,336,-1,2275,264.10,266.20,0,0,0.135450,2065.30,-0.005063,1,1,0.007088
619794,108105,20160429,736449,736785,336,-1,2300,282.80,285.00,0,0,0.131973,2065.30,-0.005063,1,1,0.007088
619795,108105,20160429,736449,736785,336,-1,2325,302.50,304.80,0,0,0.128864,2065.30,-0.005063,1,1,0.007088
619796,108105,20160429,736449,736785,336,-1,2350,314.90,335.30,0,0,0.128019,2065.30,-0.005063,1,1,0.007088
619797,108105,20160429,736449,736785,336,-1,2375,335.40,356.90,0,0,0.124828,2065.30,-0.005063,1,1,0.007088
619798,108105,20160429,736449,736785,336,-1,2400,357.60,376.30,0,0,0.118683,2065.30,-0.005063,1,1,0.007088
619799,108105,20160429,736449,736785,336,-1,2500,451.40,472.30,0,0,0.120902,2065.30,-0.005063,1,1,0.007088
619800,108105,20160429,736449,736785,336,-1,2600,549.00,569.50,0,0,0.125484,2065.30,-0.005063,1,1,0.007088
619801,108105,20160429,736449,736785,336,-1,2700,647.70,668.20,0,0,0.135071,2065.30,-0.005063,1,1,0.007088
619802,108105,20160429,736449,736785,336,-1,300,0.00,0.35,0,0,0.664729,2065.30,-0.005063,1,1,0.007088
619803,108105,20160429,736449,736785,336,-1,400,0.00,0.50,0,0,0.583398,2065.30,-0.005063,1,1,0.007088
619804,108105,20160429,736449,736785,336,-1,500,0.15,0.70,0,0,0.530727,2065.30,-0.005063,1,1,0.007088
619805,108105,20160429,736449,736785,336,-1,600,0.45,1.10,0,0,0.493649,2065.30,-0.005063,1,1,0.007088
619806,108105,20160429,736449,736785,336,-1,700,0.90,1.55,0,0,0.457234,2065.30,-0.005063,1,1,0.007088
619807,108105,20160429,736449,736785,336,-1,750,1.25,1.90,0,0,0.442646,2065.30,-0.005063,1,1,0.007088
619808,108105,20160429,736449,736785,336,-1,800,1.60,2.25,0,0,0.426590,2065.30,-0.005063,1,1,0.007088
619809,108105,20160429,736449,736785,336,-1,850,2.10,2.70,0,0,0.412802,2065.30,-0.005063,1,1,0.007088
619810,108105,20160429,736449,736785,336,-1,900,2.65,3.30,0,0,0.399738,2065.30,-0.005063,1,1,0.007088
619811,108105,20160429,736449,736785,336,-1,950,3.30,4.00,0,1,0.387017,2065.30,-0.005063,1,1,0.007088

<h2>Question1</h2>

In [58]:
df = df.dropna()

In [ ]:
df

<h2>Question2</h2>

In [60]:
#Question2
df.loc[:,'Option_prices'] = df.loc[:, ['bid price','ask price']].mean(1)

<h2>Question3</h2>

In [66]:
df = df[df['Option_prices'] > 0.005]
df

,ticker,date,date of contract,end data of contract,maturity,call,strike,bid price,ask price,not important1,not important2,Black Scholes implied volatility,Current index level,not important3,not important4,not important5,interest rate,Option_prices
128,108105,20160104,736333,736344,11,1,1875,135.3,138.2,500,311,0.149708,2012.66,-0.015304,1,1,0.007121,136.75
129,108105,20160104,736333,736344,11,1,1880,130.1,133.9,12,29,0.184996,2012.66,-0.015304,1,1,0.007121,132.00
130,108105,20160104,736333,736344,11,1,1885,125.4,129.1,0,7,0.196155,2012.66,-0.015304,1,1,0.007121,127.25
131,108105,20160104,736333,736344,11,1,1890,120.7,124.4,5,30,0.203980,2012.66,-0.015304,1,1,0.007121,122.55
132,108105,20160104,736333,736344,11,1,1895,116.5,119.3,0,5,0.209911,2012.66,-0.015304,1,1,0.007121,117.90
133,108105,20160104,736333,736344,11,1,1900,111.4,115.0,7,6283,0.211676,2012.66,-0.015304,1,1,0.007121,113.20
134,108105,20160104,736333,736344,11,1,1905,106.8,110.4,0,43,0.214528,2012.66,-0.015304,1,1,0.007121,108.60
135,108105,20160104,736333,736344,11,1,1910,102.8,105.4,21,408,0.217899,2012.66,-0.015304,1,1,0.007121,104.10
136,108105,20160104,736333,736344,11,1,1915,97.8,101.3,1,108,0.218560,2012.66,-0.015304,1,1,0.007121,99.55
137,108105,20160104,736333,736344,11,1,1920,93.9,96.4,0,21,0.220706,2012.66,-0.015304,1,1,0.007121,95.15
138,108105,20160104,736333,736344,11,1,1925,89.5,92.0,2,6064,0.221447,2012.66,-0.015304,1,1,0.007121,90.75
139,108105,20160104,736333,736344,11,1,1930,84.9,88.2,13,278,0.223944,2012.66,-0.015304,1,1,0.007121,86.55
140,108105,20160104,736333,736344,11,1,1935,80.6,83.8,3,37,0.223046,2012.66,-0.015304,1,1,0.007121,82.20
141,108105,20160104,736333,736344,11,1,1940,76.4,79.5,4,805,0.222497,2012.66,-0.015304,1,1,0.007121,77.95
142,108105,20160104,736333,736344,11,1,1945,72.5,75.5,3,25,0.224489,2012.66,-0.015304,1,1,0.007121,74.00
143,108105,20160104,736333,736344,11,1,1950,68.2,71.2,1369,7049,0.221404,2012.66,-0.015304,1,1,0.007121,69.70
144,108105,20160104,736333,736344,11,1,1955,64.2,67.1,5,57,0.220221,2012.66,-0.015304,1,1,0.007121,65.65
145,108105,20160104,736333,736344,11,1,1960,60.0,62.9,22,180,0.216642,2012.66,-0.015304,1,1,0.007121,61.45
146,108105,20160104,736333,736344,11,1,1965,56.3,58.9,7,180,0.215669,2012.66,-0.015304,1,1,0.007121,57.60
147,108105,20160104,736333,736344,11,1,1970,52.4,55.1,23,470,0.213735,2012.66,-0.015304,1,1,0.007121,53.75
148,108105,20160104,736333,736344,11,1,1975,49.1,51.7,251,6213,0.215254,2012.66,-0.015304,1,1,0.007121,50.40
149,108105,20160104,736333,736344,11,1,1980,45.4,47.7,41,325,0.211413,2012.66,-0.015304,1,1,0.007121,46.55
150,108105,20160104,736333,736344,11,1,1985,41.7,44.2,3337,3650,0.208785,2012.66,-0.015304,1,1,0.007121,42.95
151,108105,20160104,736333,736344,11,1,1990,38.5,40.7,128,492,0.207213,2012.66,-0.015304,1,1,0.007121,39.60
152,108105,20160104,736333,736344,11,1,1995,35.3,37.6,3873,3660,0.206186,2012.66,-0.015304,1,1,0.007121,36.45
153,108105,20160104,736333,736344,11,1,2000,32.3,34.3,10417,71062,0.204103,2012.66,-0.015304,1,1,0.007121,33.30
154,108105,20160104,736333,736344,11,1,2005,29.0,31.2,433,1059,0.200594,2012.66,-0.015304,1,1,0.007121,30.10
155,108105,20160104,736333,736344,11,1,2010,26.1,28.2,1750,1493,0.197904,2012.66,-0.015304,1,1,0.007121,27.15
156,108105,20160104,736333,736344,11,1,2015,23.4,25.5,1852,4389,0.195975,2012.66,-0.015304,1,1,0.007121,24.45
157,108105,20160104,736333,736344,11,1,2020,20.6,22.4,1105,2124,0.190988,2012.66,-0.015304,1,1,0.007121,21.50
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
619772,108105,20160429,736449,736785,336,-1,1750,58.4,59.6,0,18,0.229133,2065.30,-0.005063,1,1,0.007088,59.00
619773,108105,20160429,736449,736785,336,-1,1775,63.0,64.1,0,0,0.224619,2065.30,-0.005063,1,1,0.007088,63.55
619774,108105,20160429,736449,736785,336,-1,1800,67.8,69.0,0,23,0.220066,2065.30,-0.005063,1,1,0.007088,68.40
619775,108105,20160429,736449,736785,336,-1,1825,73.0,74.3,0,425,0.215599,2065.30,-0.005063,1,1,0.007088,73.65
619776,108105,20160429,736449,736785,336,-1,1850,78.6,79.9,0,1,0.211094,2065.30,-0.005063,1,1,0.007088,79.25
619777,108105,20160429,736449,736785,336,-1,1875,84.6,85.9,5,2100,0.206587,2065.30,-0.005063,1,1,0.007088,85.25
619778,108105,20160429,736449,736785,336,-1,1900,91.0,92.3,0,10,0.202038,2065.30,-0.005063,1,1,0.007088,91.65
619779,108105,20160429,736449,736785,336,-1,1925,97.8,99.2,0,11,0.197474,2065.30,-0.005063,1,1,0.007088,98.50
619780,108105,20160429,736449,736785,336,-1,1950,105.1,106.5,0,22,0.192852,2065.30,-0.005063,1,1,0.007088,105.80
619781,108105,20160429,736449,736785,336,-1,1975,113.0,114.4,0,22,0.188327,2065.30,-0.005063,1,1,0.007088,113.70
619782,108105,20160429,736449,736785,336,-1,2000,121.4,122.9,0,1,0.183780,2065.30,-0.005063,1,1,0.007088,122.15
619783,108105,20160429,736449,736785,336,-1,2025,130.4,131.9,0,5,0.179158,2065.30,-0.005063,1,1,0.007088,131.15
619784,108105,20160429,736449,736785,336,-1,2050,140.0,141.6,0,498,0.174541,2065.30,-0.005063,1,1,0.007088,140.80
619785,108105,20160429,736449,736785,336,-1,2075,150.3,151.9,0,1000,0.169871,2065.30,-0.005063,1,1,0.007088,151.10
619786,108105,20160429,736449,736785,336,-1,2100,161.4,163.0,0,1,0.165287,2065.30,-0.005063,1,1,0.007088,162.20
619787,108105,20160429,736449,736785,336,-1,2125,173.2,174.9,0,0,0.160665,2065.30,-0.005063,1,1,0.007088,174.05
619788,108105,20160429,736449,736785,336,-1,2150,185.9,187.7,0,15,0.156147,2065.30,-0.005063,1,1,0.007088,186.80
619789,108105,20160429,736449,736785,336,-1,2175,199.6,201.4,0,0,0.151755,2065.30,-0.005063,1,1,0.007088,200.50
619790,108105,20160429,736449,736785,336,-1,2200,214.2,216.1,0,1,0.147451,2065.30,-0.005063,1,1,0.007088,215.15
619791,108105,20160429,736449,736785,336,-1,2225,229.8,231.8,0,0,0.143283,2065.30,-0.005063,1,1,0.007088,230.80
619792,108105,20160429,736449,736785,336,-1,2250,246.4,248.5,0,0,0.139247,2065.30,-0.005063,1,1,0.007088,247.45
619793,108105,20160429,736449,736785,336,-1,2275,264.1,266.2,0,0,0.135450,2065.30,-0.005063,1,1,0.007088,265.15
619794,108105,20160429,736449,736785,336,-1,2300,282.8,285.0,0,0,0.131973,2065.30,-0.005063,1,1,0.007088,283.90
619795,108105,20160429,736449,736785,336,-1,2325,302.5,304.8,0,0,0.128864,2065.30,-0.005063,1,1,0.007088,303.65
619796,108105,20160429,736449,736785,336,-1,2350,314.9,335.3,0,0,0.128019,2065.30,-0.005063,1,1,0.007088,325.10
619797,108105,20160429,736449,736785,336,-1,2375,335.4,356.9,0,0,0.124828,2065.30,-0.005063,1,1,0.007088,346.15
619798,108105,20160429,736449,736785,336,-1,2400,357.6,376.3,0,0,0.118683,2065.30,-0.005063,1,1,0.007088,366.95
619799,108105,20160429,736449,736785,336,-1,2500,451.4,472.3,0,0,0.120902,2065.30,-0.005063,1,1,0.007088,461.85
619800,108105,20160429,736449,736785,336,-1,2600,549.0,569.5,0,0,0.125484,2065.30,-0.005063,1,1,0.007088,559.25
619801,108105,20160429,736449,736785,336,-1,2700,647.7,668.2,0,0,0.135071,2065.30,-0.005063,1,1,0.007088,657.95

<h2>Question4</h2>

<h2>Question5</h2>

<h2>Question6</h2>

<h2>Question7</h2>